<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="images/jc.ico">
  <title>Jacky Chen</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body class="blue-grey lighten-5">
    <nav>
        <div class="nav-wrapper valign-wrapper blue-grey darken-4">
          <a href="#!" class="brand-logo center">
            <img src="images/JC-Poly.png" class="valign circle responsive-img" style="max-height: 50px;">
          </a>
          <ul class="left hide-on-med-and-down">
            <li><a href="sass.html">WHO</a></li>
            <li><a href="badges.html">WHAT</a></li>
            <li class="active"><a href="collapsible.html">WHY</a></li>
          </ul>
        </div>
      </nav>
    
    <div class="parallax-container">
          <div class="parallax"><img src="images/views.jpg"></div>
    </div>

    <div class="container">
        <div class="row valign-wrapper pad">
            <div class="col m3">
                <img src="images/jacky.jpg" class="circle responsive-img">
            </div>
            <div class="col m9 blue-grey lighten-2">
                <h1 class="center-align valign">Jacky Chen</h1>
            </div>
        </div>
    </div>
    <div class="parallax-container">
          <div class="parallax"><img src="images/love.jpg"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col m4 center-align">
                <div class="card blue-grey white-text">
                    <h3>Who</h3>
                    <hr/>
                    <img src="images/who.jpg" class="responsive-img">
                </div>
            </div>
            <div class="col m4 center-align">
                <div class="card blue-grey white-text">
                    <h3>What</h3>
                    <hr/>
                    <img src="images/america.jpg" class="responsive-img">
                </div>
            </div>
            <div class="col m4 center-align">
                <div class="card blue-grey white-text">
                    <h3>Why</h3>
                    <hr/>
                    <img src="images/fam.jpg" class="responsive-img">
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer">
              <div class="container">
                <div class="row">
                  <div class="col l6 s12">
                    <h5 class="white-text">Started from the bottom</h5>
                    <p class="grey-text text-lighten-4">now we're here :P</p>
                  </div>
                  <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links to future pages</h5>
                    <ul>
                      <li><a class="grey-text text-lighten-3" href="#!">Future Page 1</a></li>
                      <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> -->
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-copyright">
                <div class="container">
                © 2016
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
              </div>
            </footer>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
</body>
</html>